* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(116, 252, 206);
}
/* page content*/
#content {
  padding: 10px;
  margin: 0 10px;
}
/**/
#header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(95, 206, 169);
  padding: 0 10px;
  margin: 0;
  height: 90px;
  box-shadow: 1px 2px 3px rgb(93, 93, 93);
}
h1 {
  color: white;
  font-size: 40px;
}
#logo-section {
  display: flex;
  justify-content: space-between;
}

.shadow-dance-text {
  font-size: 4rem;
  color: #fff;
  text-shadow: 5px 5px 0 #b2d128, 10px 10px 0 #0e7446;
  animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
  0%,
  100% {
    text-shadow: 5px 5px 0 #51bb2a, 10px 10px 0 #00ff22;
  }
  50% {
    text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #daf037;
  }
}
#logo img {
  width: 80px;
  height: auto;
}
#main-container {
  width: 100vw;
}
#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(95, 206, 169);
  padding: 0 10px;
  margin-top: 900px;
  height: 90px;
  box-shadow: 1px -2px 3px rgb(93, 93, 93);
}
#search-input {
  padding: 10px 10px;
  font-size: 18px;
  border: 1px solid #51bb2a;
  outline: none;
}
#search-input:hover {
  border: 1px solid #84f65b;
}
#pokemon-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
.pokemon-box {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  border: 2px solid greenyellow;
  box-shadow: 1px 2px #0e7446;
  background-color: #a4d32d;
}
.pokemon-box:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 2px 4px #0e7446;
}

#pokemon-img {
  width: 200px;
  height: auto;
}
#pokemon-name {
  justify-content: center;
  padding-left: 60px;
}

#load-more-button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #51bb2a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#load-more-button:hover {
  background-color: #84f65b;
}

.modal {
  display: none; /* Standardmäßig ausgeblendet*/
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #51bb2a;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content img {
  width: 200px;
  height: auto;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: black;
}
